body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz {
    margin-top: 20px;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.correct {
    background-color: #28a745 !important;
}

.incorrect {
    background-color: #dc3545 !important;
}

.next-btn {
    display: none;
    margin-top: 20px;
}
